.sec{
	border: solid;
	border-color: black;
	border-width:2px;
	float:left;
	border-radius: 10px;
	margin: 1vh;
	height:40vh;
}
section{
	width: 100%;
}
.sec:hover{
	border-color: blue;
}
.sub-sec{
	height:34vh;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}
.txt-sec{
	height: 5vh;
	font-size: 3vh;
	text-align: center;
}
body{
	padding: 0;
	margin: 0;
}
nav{
	background: #cc1100;
	height: 7vh;
	width: 100%;
}
.mn-btn{
	height: 5vh;
	width: 40%;
	font-size: 3vh;
	text-align: center;
	background: white;
	color: black;
	border-radius: 10px;
	margin: 1vh;
	padding: 1vh;
}