<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>About</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<script src="/assets/script/script.js"></script>
	<link rel="shortcut icon" href="/assets/pic/fav.png">
	<style type="text/css">
		section{
			width: 100%;
			font-size: 3vh;
		}
	</style>
	<script type="text/javascript">
		if(window.innerHeight>window.innerWidth) {
			document.getElementsByTagName('style')[0].innerHTML=document.getElementsByTagName('style')[0].innerHTML+".sec{width:45%}";
		} else {
			document.getElementsByTagName('style')[0].innerHTML=document.getElementsByTagName('style')[0].innerHTML+".sec{width:31%}";
		}
	</script>
</head>
<body>
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		<label class="logo">Comics</label>
		<ul>
			<li><a class="active" href="/">Home</a></li>
			<li><a href="about">About</a></li>
			<li><a href="contact">Contact</a></li>
		</ul>
	</nav>
	<section>
		We share you the best content from youtube, on topics related to marvel comics. The videos present in this site are owned by the their respective youtube channels. Contact us for removal or suggestion of videos.
	</section>
</body>
</html>