<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>404 Error</title>
	<meta name="description" content="No such page found :(">
	<link rel="shortcut icon" href="/assets/pic/fav.png">
	<style type="text/css">
		div{
			padding: 3vh;
			margin: 3vh;
			font-size: 9vh;
			color: white;
			text-align: center;
		}
		a{
			color: white;
			text-align: center;
			font-size: 3vh;
		}
		body{
			background: #cc1100;
		}
	</style>
</head>
<body>
<div>
	501 error :(<br>
	<a href="/">Back to home</a>
</div>
</body>
</html>