<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Comics</title>
	<meta name="keywords" content="best marvel comic stories of all time,marvel comic book stories,marvel comic book storylines,marvel pdf comics,best marvel comic stories ever,marvel comic storylines in order,all comics of marvel,all marvel comics pdf,all marvel comics for free,marvel comic pdf,marvel full comics,captain marvel comic origin story,best marvel comic storylines reddit,best marvel comic stories to read,top 10 marvel comic stories,marvel free comic books">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<script src="/assets/script/script.js"></script>
	<link rel="shortcut icon" href="/assets/pic/fav.png">
	<style type="text/css">
		.sec{
			border: solid;
			border-color: black;
			border-width:2px;
			float:left;
			border-radius: 10px;
			margin: 1vh;
		}
		section{
			width: 100%;
		}
		.sec:hover{
			border-color: blue;
		}
		.sub-sec{
			width: 100%;
			border-radius: 10px 10px 0px 0px;
		}
		.txt-sec{
			height: 5vh;
			font-size: 2vh;
			text-align: center;
		}
	</style>
	<script type="text/javascript">
		if(window.innerHeight>window.innerWidth) {
			document.getElementsByTagName('style')[0].innerHTML=document.getElementsByTagName('style')[0].innerHTML+".sec{width:45%}";
		} else {
			document.getElementsByTagName('style')[0].innerHTML=document.getElementsByTagName('style')[0].innerHTML+".sec{width:31%}";
		}
	</script>
</head>
<body>
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		<label class="logo">Comics</label>
		<ul>
			<li><a class="active" href="/">Home</a></li>
			<li><a href="about">About</a></li>
			<li><a href="contact">Contact</a></li>
		</ul>
	</nav>
	<section>
		<div class="sec" onclick="window.location.href='superior-ironman'">
			<img class="sub-sec" src="/assets/pic/1.jpg">
			<div class="txt-sec">Superior Ironman</div>
		</div>
		<div class="sec" onclick="window.location.href='marvel-zombies'">
			<img class="sub-sec" src="/assets/pic/2.jpg">
			<div class="txt-sec">Marvel Zombies</div>
		</div>
		<div class="sec" onclick="window.location.href='thor-saga'">
			<img class="sub-sec" src="/assets/pic/3.jpg">
			<div class="txt-sec">Thor Saga</div>
		</div>
		<div class="sec" onclick="window.location.href='war-of-realm'">
			<img class="sub-sec" src="/assets/pic/4.jpg">
			<div class="txt-sec">War of realm</div>
		</div>
		<div class="sec" onclick="window.location.href='world-war-hulk'">
			<img class="sub-sec" src="/assets/pic/5.jpg">
			<div class="txt-sec">World War Hulk</div>
		</div>
		<div class="sec" onclick="window.location.href='unworthy-thor'">
			<img class="sub-sec" src="/assets/pic/6.jpg">
			<div class="txt-sec">Unworthy Thor</div>
		</div>
		<div class="sec" onclick="window.location.href='deadpool-kills-the-mcu'">
			<img class="sub-sec" src="/assets/pic/7.jpg">
			<div class="txt-sec">Deadpool kills the mcu</div>
		</div>
		<div class="sec" onclick="window.location.href='loki-god-who-fell-on-earth'">
			<img class="sub-sec" src="/assets/pic/8.jpg">
			<div class="txt-sec">Loki god who fell on earth</div>
		</div>

	</section>
</body>
</html>