<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Loki - god who fell on earth</title>
	<meta name="keywords" content="loki the god who fell to earth comic,loki comic,loki,">
	<meta name="description" content="After dying a grisly death in WAR OF THE REALMS, the reborn Trickster learned a valuable lesson in warmongering: Don't get caught.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/assets/pic/fav.png">
	<link rel="stylesheet" type="text/css" href="/assets/css/p-css.css">
	<style type="text/css"></style>
	<script type="text/javascript" src="/assets/script/res.js"></script>
</head>
<body>
	<nav>
		<button class="mn-btn" onclick="window.location.href='/'">back</button>
	</nav>
	<section>
		
	</section>
	<script type="text/javascript">
		g=["https://www.youtube.com/embed/YcQE1xtoI40","https://www.youtube.com/embed/bqDiscTh6WE,https://www.youtube.com/embed/Uren8dArjUM","https://www.youtube.com/embed/ntYedlsrKiI","https://www.youtube.com/embed/eOtLgTb4l2o"];
		var a = document.getElementsByTagName('section')[0];
		//for(var n=0;n < g.length; n=n++) 
		var n=0;
		while(n < g.length){
			a.innerHTML=a.innerHTML+"<div class='sec'><iframe src='"+g[n]+"' class='sub-sec'></iframe><div class='txt-sec'>Part "+String(n+1)+"</div></div>";
			n=n+1
		}

	</script>
</body>
</html>