<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Thor saga</title>
	<meta name="keywords" content="thor comics book,thor comics pdf,thor all comics,thor story book,thor comics download,thor comics free download,thor god of thunder comic pdf,hd thor,thor comic pdf,thor love and thunder comic pdf,thor comic download">
	<meta name="description" content="Thor Odinson, or simply Thor, is a fictional character appearing in American comic books published by Marvel Comics. The character is based on the Norse deity of the same name, the Asgardian god of thunder whose enchanted hammer Mjolnir enables him to fly and manipulate weather, among his other superhuman attributes. A founding member of the superhero team the Avengers, Thor has a host of supporting characters and enemies. ">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/assets/pic/fav.png">
	<link rel="stylesheet" type="text/css" href="/assets/css/p-css.css">
	<style type="text/css"></style>
	<script type="text/javascript" src="/assets/script/res.js"></script>
</head>
<body>
	<nav>
		<button class="mn-btn" onclick="window.location.href='/'">back</button>
	</nav>
	<section>
		
	</section>
	<script type="text/javascript">
		g=["https://www.youtube.com/embed/nGVar54VpMY","https://www.youtube.com/embed/AEUWl2T_npg","https://www.youtube.com/embed/jIAprlpT6hk","https://www.youtube.com/embed/5d_vVu9eqwE","https://www.youtube.com/embed/zLE6PFcA2vI","https://www.youtube.com/embed/c6SuP7mmRyI","https://www.youtube.com/embed/Ng55VNcqJds","https://www.youtube.com/embed/4ZQb27-s1PU","https://www.youtube.com/embed/ep0bW1ATygE","https://www.youtube.com/embed/-Qb-yQEnhfI","https://www.youtube.com/embed/Xrv90ijg6BY"];
		var a = document.getElementsByTagName('section')[0];
		//for(var n=0;n < g.length; n=n++) 
		var n=0;
		while(n < g.length){
			a.innerHTML=a.innerHTML+"<div class='sec'><iframe src='"+g[n]+"' class='sub-sec'></iframe><div class='txt-sec'>Part "+String(n+1)+"</div></div>";
			n=n+1
		}

	</script>
</body>
</html>