<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Unworthy thor</title>
	<meta name="description" content="When facing Thor, Fury whispered something into the God of Thunder's ear that not only shocked him but left him unworthy to lift his hammer. This event would serve as the catalyst for Jane Foster to claim the hammer, becoming the Mighty Thor, and for plenty of villains to rise in the aftermath">
	<meta name="keywords" content="thor comics book,thor comics pdf,thor all comics,thor story book,thor comics download,thor comics free download,thor god of thunder comic pdf,hd thor,thor comic pdf,thor love and thunder comic pdf,thor comic download,unworthy thor comic download,unworthy thor getcomics,unworthy thor comic,the unworthy thor comic download,the unworthy thor read online">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/assets/pic/fav.png">
	<link rel="stylesheet" type="text/css" href="/assets/css/p-css.css">
	<style type="text/css"></style>
	<script type="text/javascript" src="/assets/script/res.js"></script></head>
<body>
	<nav>
		<button class="mn-btn" onclick="window.location.href='/'">back</button>
	</nav>
	<section>
		
	</section>
	<script type="text/javascript">
		g=["https://www.youtube.com/embed/nm2MMsFy4_w","https://www.youtube.com/embed/DvM3ZYJQjiI","https://www.youtube.com/embed/-U60gLw52xs","https://www.youtube.com/embed/e8f2MMFTocM","https://www.youtube.com/embed/ia6uSS9PyJQ","https://www.youtube.com/embed/9dlIOXPk7g4","https://www.youtube.com/embed/ZClRV5nYpac","https://www.youtube.com/embed/_tR-r6qGqi0","https://www.youtube.com/embed/zmfu3XreIZg","https://www.youtube.com/embed/iVhVkjBEJSc","https://www.youtube.com/embed/GrbEcUISc5U","https://www.youtube.com/embed/j1ZklgPcaMw","https://www.youtube.com/embed/QG2l-fQnBRo"];
		var a = document.getElementsByTagName('section')[0];
		//for(var n=0;n < g.length; n=n++) 
		var n=0;
		while(n < g.length){
			a.innerHTML=a.innerHTML+"<div class='sec'><iframe src='"+g[n]+"' class='sub-sec'></iframe><div class='txt-sec'>Part "+String(n+1)+"</div></div>";
			n=n+1
		}

	</script>
</body>
</html>