<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>War of realm</title>
	<meta name="keywords" content="war of realms,war of realms venom,war of realms reading order,war of realms read online,war of realms new agents of atlas,war of realms omnibus,war of realms heroclix,war of realms thor,war of the realms omnibus,war of the realm marvel,war of the realms reading order">
	<meta name="description" content="The story details the heroes banding together when Malekith the Accursed leads his forces to invade Midgard, the last realm he has to conquer.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/assets/pic/fav.png">
	<link rel="stylesheet" type="text/css" href="/assets/css/p-css.css">
	<style type="text/css"></style>
	<script type="text/javascript" src="/assets/script/res.js"></script>
</head>
<body>
	<nav>
		<button class="mn-btn" onclick="window.location.href='/'">back</button>
	</nav>
	<section>
		
	</section>
	<script type="text/javascript">
		g=["https://www.youtube.com/embed/htZTltyxr5g","https://www.youtube.com/embed/H1EtVsk4Oyg","https://www.youtube.com/embed/T2K6oGojOu4","https://www.youtube.com/embed/WcQWWAfIJmg","https://www.youtube.com/embed/wNrwjJiKryg","https://www.youtube.com/embed/utpjjLC1mSA","https://www.youtube.com/embed/tZkq2KyQWZc","https://www.youtube.com/embed/MkQDGRpz8dA","https://www.youtube.com/embed/kAcjYVwFKt8","https://www.youtube.com/embed/YQWjdBsdNNc"];
		var a = document.getElementsByTagName('section')[0];
		//for(var n=0;n < g.length; n=n++) 
		var n=0;
		while(n < g.length){
			a.innerHTML=a.innerHTML+"<div class='sec'><iframe src='"+g[n]+"' class='sub-sec'></iframe><div class='txt-sec'>Part "+String(n+1)+"</div></div>";
			n=n+1
		}

	</script>
</body>
</html>