<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>World war hulk</title>
	<meta name="keywords" content="world war hulk comic pdf,world war hulk comic read online,world war hulk comic book,world war hulk comics in order,world war hulk comic value,world war hulk comic price,world war hulk comic characters,world war hulk comic storyline,world war hulk comic series,world war hulk comic reading order,is world war hulk a comic,all world war hulk comics,comic after world war hulk,world war hulk comic pdf download,world war hulk comic free,world war hulk biblioteca marvel,world war hulk vs captain marvel,world war hulk comic download,world war hulk comic descargar,world war hulk marvel deluxe,world war hulk marvel database">
	<meta name="description" content="World War Hulk is a comic book crossover storyline that ran through a self-titled limited series and various titles published by Marvel Comics in 2007">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/assets/pic/fav.png">
	<link rel="stylesheet" type="text/css" href="/assets/css/p-css.css">
	<style type="text/css"></style>
	<script type="text/javascript" src="/assets/script/res.js"></script>
</head>
<body>
	<nav>
		<button class="mn-btn" onclick="window.location.href='/'">back</button>
	</nav>
	<section>
		
	</section>
	<script type="text/javascript">
		g=["https://www.youtube.com/embed/bspoPDu6zCo","https://www.youtube.com/embed/0jdFKLl7opc","https://www.youtube.com/embed/_DC82R4AyU4","https://www.youtube.com/embed/a071OZzVTDA","https://www.youtube.com/embed/t52OwibeNWo"];
		var a = document.getElementsByTagName('section')[0];
		//for(var n=0;n < g.length; n=n++) 
		var n=0;
		while(n < g.length){
			a.innerHTML=a.innerHTML+"<div class='sec'><iframe src='"+g[n]+"' class='sub-sec'></iframe><div class='txt-sec'>Part "+String(n+1)+"</div></div>";
			n=n+1
		}

	</script>
</body>
</html>